<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="/static/assets/images/icon.png" type="image/png">
    <title>UrduSearchPlus</title>
</head>
<body>

  <div class="search-box">
    <form id="search-form" action="/search" method="POST">
      <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" name="query" class="input-search" placeholder="Type to Search...">
    </form>
  </div>

  <footer>
    <p>
      Created by
      <a target="_blank" href="https://www.linkedin.com/in/mohammad-anas4321/">Mohammad Anas</a>
      Follow me : 
      <a target="_blank"  href="http://www.linkedin.com/in/mohammad-anas4321/"><i class="fab fa-linkedin"></i></a>
      <a target="_blank" href="https://github.com/AnasMohammad4321/"><i class="fab fa-github"></i></a> 
    </p>
  </footer>

  <div id="search-results"></div>

  <script> 
    document.getElementById('search-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);
    
      fetch('/search', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        const resultsContainer = document.getElementById('search-results');
        resultsContainer.innerHTML = '<h2>Search Results:</h2>';
    
        data.forEach(result => {
          const { 'Document ID': doc_id, 'TF-IDF Score': score, 'Rank': rank, 'Document Name': doc_name, 'First Line': first_line } = result;
          const resultItem = `<p>Rank: ${rank}, Document ID: ${doc_id}, Document Name: ${doc_name}, TF-IDF Score: ${score}, First Line: ${first_line}</p>`;
          resultsContainer.innerHTML += resultItem;
        });
      })
      .catch(error => console.error('Error:', error));
    });
  </script>
  
</body>
</html>
